<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    
</head>

<body>
    <div style="height: 89px;background-color: #121111;">
        <p class="text-center" style="color: rgb(238,241,244);font-size: 26px;margin-top: 0px;padding-top: 14px;height: 62px;">SOCIAL VOICE OUT</p>
    </div>
    <div style="width: 60%;height: 33rem;background-color: #c8c2c2;margin-left: 20%;margin-right: 20%;padding-top: 5%;">
        <% if(image) { %>
            <div style="width: 33.3%;height: 9rem;margin-left: 33.3%;margin-right: 33.3%;margin-top: 0%;">
                <img src="data:image/<%=image.img.contentType%>;base64, <%=image.img.data.toString('base64')%>" width="100%" height="100%">
                </div>
        <%} else { %>
            <div style="width: 33.3%;height: 9rem;margin-left: 33.3%;margin-right: 33.3%;margin-top: 0%;">
                
                </div>
            <%}%>
        <div style="width: 100%;">
        <form  action="/connect/<%=usery._id%>"  method="POST" name ="order" enctype="multipart/form-data" >

            <label style="margin-top: 10%;margin-left: 25%;width: 13%;font-size: 20px;font-weight: 500;">PHOTO</label>
            <input id="user" name="user" type="hidden" >
            <input name="user_name" type="file"   style="margin-left: 5%;width: 45%;"required>
            <% if(image){ %>
                <button  class="btn btn-primary" type="submit" style="margin-left: 40%;width: 19%;"disabled>Upload</button>
            <% }else{ %>
            <button onclick="getit()" class="btn btn-primary" type="submit" style="margin-left: 40%;width: 19%;">Upload</button>
            <% } %>
        </form>
        <form   action="/user/home/<%=usery._id%>" method="post" >
            
            <button id="dp" class="btn btn-success" type="submit" style="margin-left: 40%;width: 19%;margin-top: 5%">Submit</button>
        </form>


      
    </div>
    </div>
    <script>
     
     let imag = '<%- JSON.stringify(image) %>';
        let image = JSON.parse(imag);
        
       // document.getElementById("dd").value = imag;

        if(image == null){
            document.getElementById("dp").disabled = true;
        }
    
        localStorage.setItem("image",imag);
        function getit(){
           
            document.getElementById("user").value = localStorage.getItem("username");
      
        }

    </script>
   
</body>

</html>